.options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.trackOptions,
.filters {
	display: flex;
	align-items: center;
	gap: 20px;
}

.filters {
	position: relative;
}

.playBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color: #65D36E;
	margin-right: 20px;
}

.playBtn:hover {
	transform: scale(1.03);
}

.mixBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
}

.mixBtn svg:hover {
	transform: scale(1.05);
}

.addBtn {
	display: flex;
	align-items: center;
}

.addBtn:hover {
	transform: scale(1.05);
}

.followBtn {
	border: 1px var(--gray-dark) solid;
	border-radius: 30px;
	padding: 0 20px;
	height: 40px;
	transition: border 0.1s;
}

.followBtn:hover {
	border: 1px var(--white) solid;
	transform: scale(103%);
}

.followBtn:active {
	border: 1px var(--gray-dark) solid;
	transform: scale(100%);
	opacity: 0.8;
}

.findInputWrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.findInput {
	width: 200px;
	height: 40px;
	border-radius: 6px;
	color: var(--white);
	padding: 0 10px 0 34px;
	background-color: #FFFFFF40;
	opacity: 0.7;
	border: none;
	outline: none;
	font-size: 1rem;
}

.findInput::placeholder {
	color: var(--gray-light);
}

.findIcon {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

.typeBtn {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #FFFFFFB2;
}

.dropdownArrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFFB2;
	display: inline-block;
	margin-left: 5px;
}

.typeBtn:hover {
	color: #FFFFFF;
}

.typeBtn:hover .dropdownArrow {
	border-top-color: #FFFFFF;
}

.dropdownList {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	background-color: #282828;
	border-radius: 6px;
	margin-top: 10px;
	padding: 8px 0;
	overflow: hidden;
	z-index: 3;
}

.dropdownItemTitle {
	color: var(--gray-dark) !important;
	font-size: 0.875rem;
}

.dropdownItemTitle,
.dropdownItem {
	cursor: default;
	padding: 8px 12px;
}

.dropdownItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdownItem img {
	width: 16px;
	height: 16px;
}

.dropdownItem:hover {
	background-color: #FFFFFF40;
}

.dropdownItemActive {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #1ED760;
}