.deletePlaylist {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	max-width: 90vw;
	padding: 24px;
	background: white;
	color: black;
	border-radius: 8px;
	z-index: 1001;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.description {
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 20px;
}

.buttonContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 20px;
}

.cancelBtn {
	color: black;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	will-change: transform;
}

.deleteBtn {
	background-color: rgb(231, 0, 0);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 24px;
	cursor: pointer;
	will-change: transform;
}

.cancelBtn:hover,
.deleteBtn:hover {
	transform: scale(1.05);
}