.sidebar {
	height: 100%;
	background-color: #000000;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 20px;
	overflow: hidden;
}

.logo {
	cursor: pointer;
	max-width: 150px;
}

.menu {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
	margin-top: 20px;
	overflow: hidden;
}

.menuItem {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 0;
	border-radius: 5px;
	color: var(--gray-light);
	cursor: pointer;
	font-size: 0.875rem;
	transition: background-color 0.3s ease;
}

.menuItem:hover {
	color: var(--white);
}

.menuIcon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.playlistList {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
	padding-top: 20px;
	border-top: 1px solid #282828;
	overflow-y: auto;
}

.playlistItem {
	display: flex;
	cursor: pointer;
	color: var(--gray-light);
	font-size: 0.875rem;
	font-weight: 400;
	padding: 2px 0;
}

.playlistItemText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1;
}

.playlistItem:hover {
	color: var(--white);
}