.dropdown {
	position: absolute;
	left: -300px;
	background-color: #1f1f1f;
	padding: 10px 10px 0 10px;
	border-radius: 6px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	width: 350px;
	max-height: 450px;
	overflow-y: auto;
	z-index: 9999;
	transition: 0.3s ease;
}

.dropdown.down {
	top: 50px;
}

.dropdown.up {
	bottom: 50px;
}

.dropdownTitle {
	font-size: 0.8rem;
	color: var(--gray-light);
	margin-bottom: 10px;
}

.dropdownList {
	height: 300px;
	overflow-y: auto;
}

.dropdownItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 10px;
	padding: 8px;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

.playlistInfoWrapper {
	display: flex;
	align-items: center;
	width: 100%;
}

.dropdownItem:hover {
	background-color: #333333;
}

.playlistCover {
	width: 48px;
	height: 48px;
}

.playlistInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
}

.playlistName {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	font-size: 1rem;
}

.songCount {
	color: var(--gray-light);
	font-size: 0.9rem;
}

.radioWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 22px;
}

.radioButton {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.customRadio {
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	background: transparent;
	box-sizing: border-box;
}

.radioButton:checked+.customRadio {
	background-color: transparent;
	border-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='11' cy='10.5' rx='11' ry='10.5' fill='%231ED760'/%3E%3Cg filter='url(%23filter0_d_333_725)'%3E%3Cpath d='M7 11L9.50292 13.3104C9.91351 13.6894 10.5552 13.6582 10.9273 13.2414C12.9643 10.96 14.2943 9.47038 16.5 7' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_333_725' x='2.25' y='6.25' width='19' height='16.0755' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_333_725'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_333_725' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

.dropdownActions {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 16px;
	height: 60px;
}

.cancelButton {
	color: var(--gray-light);
	transition: transform 0.2s ease, color 0.2s ease;
}

.cancelButton:hover {
	color: var(--white);
	transform: scale(105%);
}

.readyButton {
	background-color: var(--white);
	color: black;
	padding: 6px 12px;
	border-radius: 20px;
}