.player {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100vw;
	height: 90px;
	background-color: #181818;
	color: white;
	padding: 15px 12px;
	z-index: 1000;
}

.trackInfo {
	display: flex;
	align-items: center;
	gap: 12px;
}

.trackImage {
	cursor: pointer;
	width: 60px;
	height: 60px;
}

.trackDetails {
	min-width: 0;
	max-width: 300px;
}

.marqueeContainer {
	overflow: hidden;
	width: 100%;
}

.marqueeContainer:hover .trackTitle {
	animation-play-state: paused;
}

.trackTitle {
	display: inline-block;
	white-space: nowrap;
	animation: marqueePingPong linear infinite alternate;
	animation-play-state: running;
	width: auto;
	font-size: 14px;
	font-weight: 400;
	color: var(--white);
}

.trackArtistList {
	display: flex;
	gap: 3px;
}

.trackArtist {
	font-size: 12px;
	font-weight: 400;
	color: var(--gray-light);
}

.trackOptions {
	display: flex;
	align-items: center;
	gap: 8px;
}

.trackTitle:hover,
.trackArtist:hover {
	cursor: pointer;
	text-decoration: underline;
}

.addToFavorites,
.addToPlaylist {
	cursor: pointer;
	width: 16px;
	margin-left: 4px;
}

.progressContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.playBtn {
	cursor: pointer;
}

.playBtn:hover {
	transform: scale(1.05);
}

.playBtn img {
	width: 32px;
	height: 32px;
}

.previousTrackBtn,
.nextTrackBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 22px;
}

@keyframes marqueePingPong {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(var(--marquee-distance) * -1));
	}
}