.trackSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 40px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.title {
	font-size: 24px;
	font-weight: 700;
	color: var(--white);
	margin-left: 16px;
}

.showAll {
	font-size: 14px;
	font-weight: 400;
	color: var(--gray-light);
	cursor: pointer;
}

.showAll:hover {
	text-decoration: underline;
}

.tracks {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 24px;
}

.trackItem {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.trackImageContainer {
	position: relative;
	margin-bottom: 16px;
}

.trackItem:hover {
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 8px;
}

.trackImage {
	object-fit: cover;
	width: 100%;
	height: 180px;
	border-radius: 4px;
}

.trackTitle {
	font-size: 1rem;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 4px;
}

.trackTitle:hover {
	text-decoration: underline;
}

.trackDescription {
	display: flex;
	align-items: center;
	gap: 3px;
}

.trackArtist {
	color: var(--gray-light);
	font-weight: 500;
}

.trackTitle,
.trackArtist {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
}