.notFoundPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #121212;
	user-select: none;
}

.title {
	font-size: 10rem;
	line-height: 1;
	color: #1ED760;
}

.description {
	font-size: 3rem;
	color: #FFFFFF;
}